<li>
  <div>
    <%= link_to story.title, story.url %>
    <% if story.url %>
      <small><em class="gray">(<%= domain(story.url) %>)</em></small>
    <% end %>
  </div>

  <small class="gray">
    <%= pluralize story.score, 'point' %> -
    <%= story.by %>
    <% if story.descendants %>
      - <%= link_to pluralize(story.descendants, 'comment'), story_path(story.id), class: 'gray' %>
    <% end %>
  </small>
</li>
