<li>
  <div>
    <%= link_to story.title, story.url %>
    <small><em class="gray">(<%= story.domain %>)</em></small>
  </div>
  <small>
    <%= pluralize story.points, 'point' %> by <%= story.user %>
    <%= story.time_ago %> |
    <%= link_to pluralize(story.comments_count, 'comment'), story_path(story.id) %>
  </small>
</li>
