<h1>Hacker News</h1>
<%= link_to "Top", "#" %> | 
<%= link_to "New", "#" %> | 
<%= link_to "Ask", "#" %> | 
<%= link_to "Show", "#" %> | 
<%= link_to "Jobs", "#" %>
<ol><%= render @stories %></ol>
<%= link_to "Prev", "#" %> | 
<%= link_to "Next", "#" %> 
