<div>
  <%= link_to @story.title, @story.url %>
  <% if @story.domain %>
    <em>(<%= @story.domain %>)</em>
  <% end %>
</div>
<small>
  <%= pluralize @story.points, 'point' %> by <%= @story.user %>
  <%= @story.time_ago %> |
  <%= pluralize @story.comments_count, 'comment' %>
</small>

<ul><%= render @story.comments, cached: true %></ul>
