<div class="mt-1">
  <%= link_to @story.title, @story.url %>
</div>
<small class="gray">
  <%= pluralize @story.points, 'point' %> - <%= @story.user %>
  <%= @story.time_ago %> -
  <%= pluralize @story.comments_count, 'comment' %>
</small>

<ul><%= render @story.comments, cached: true %></ul>
