<div class="mt-1">
  <%= link_to @story.title, @story.url %>
</div>
<small class="gray">
  <%= pluralize @story.points, 'point' %> -
  <% if @story.user %>
    <%= @story.user %> -
  <% end %>
  <%= pluralize @story.comments_count, 'comment' %>
</small>

<ul><%= render @story.comments, cached: true %></ul>
