<div class="mt-1">
  <%= link_to @story.title, @story.url %>
  <% if @story.url %>
    <small><em class="gray">(<%= domain(@story.url) %>)</em></small>
  <% end %>
</div>

<small class="gray">
  <%= pluralize @story.score, 'point' %> -
  <%= @story.by %>
  <% if @story.descendants %>
    - <%= pluralize(@story.descendants, 'comment') %>
  <% end %>
</small>

<ul class="pl-0"><%= render @story.comments, cached: true %></ul>
