<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hacker News</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Hacker News PWA made with Ruby on Rails.">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <link rel="manifest" href="/manifest.json" />
    <style>
      body {
        color: #333;
        padding: 3.34em 1em 0 1em;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        line-height: 22px;
      }

      p, ol, ul, td {
        font-size: 16px;
        line-height: 22px;
      }

      ul, ol {
        list-style: none;
      }

      h2 {
        margin-bottom: .5em;
      }

      ol {
        margin: 0;
        padding-left: 0;
      }

      ul {
        padding-left: 1.34em;
      }

      li {
        margin-top: 1.34em;
        margin-bottom: 1.34em;
      }

      pre {
        background-color: #eee;
        padding: 10px;
        font-size: 13px;
      }

      a {
        color: #333;

        &:visited {
          color1 #777;
        }

        &:hover {
          color: #fff;
          background-color: #333;
        }
      }

      .gray {
          color: #777;
      }

      .mt-1 {
        margin-top: 1.34em;
      }

      .animated {
        animation-timing-function: cubic-bezier(.55, 0, .1, 1);
        animation-duration: 150ms;
        animation-fill-mode: both;
      }

      @keyframes fadeOutLeft {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
          transform: translate3d(-1em, 0, 0);
        }
      }

      .fadeOutLeft {
        animation-name: fadeOutLeft;
      }

      @keyframes fadeInRight {
        from {
          opacity: 0;
          transform: translate3d(1em, 0, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }

      .fadeInRight {
        animation-name: fadeInRight;
      }

      .turbolinks-progress-bar {
        top: calc(3.34em - 1px);
        height: 2px;
        background-color: #777;
        width: 100%;
      }

      .navbar-brand {
        font-family: georgia;
        display: inline-block;
      }

      .navbar {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 1em;
        width: calc(100% - 2em);
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        z-index: 2;
      }

      .navbar-nav {
        display: inline-block;
        float: right;
        width: auto;
        margin: 1em 0;
      }

      h3 {
        font-size: 1em;
      }

      .pl-0 {
        padding-left: 0;
      }

      #content {
        animation-timing-function: cubic-bezier(.55, 0, .1, 1);
        animation-duration: 150ms;
        animation-fill-mode: both;
      }

      .active {
        pointer-events: none;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <h3 class="navbar-brand">HN</h3>
      <div class="navbar-nav">
        <%= active_link_to "Top", news_path %> |
        <%= active_link_to "New", newest_path %> |
        <%= active_link_to "Ask", ask_path %> |
        <%= active_link_to "Show", show_path %> |
        <%= active_link_to "Jobs", jobs_path %>
      </div>
    </nav>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
